# Telegram
BOT_TOKEN=8512654756:AAHbb5g5qLTxUCnZIhehw65JVmvuaHh0vFM
TELEGRAM_WEBHOOK_SECRET=12345678
WEBHOOK_BASE_URL=api.ewerest.ru
WEBHOOK_PATH=https://api.telegram.org/bot8512654756:AAHbb5g5qLTxUCnZIhehw65JVmvuaHh0vFM/setWebhook

# DaData
DADATA_API_KEY=4de1d58c33dc23fe540e123f6714a6c5fd2a87df:828b59564c78aee748c685d433802decdf7e8d59

# Cache and limits
CACHE_TTL_SECONDS=21600
SESSION_TTL_SECONDS=7200
DADATA_RPS_LIMIT=8
DADATA_MAX_CONNECTIONS=10
REQUEST_TIMEOUT_SECONDS=10
REDIS_URL=

# Runtime
HOST=0.0.0.0
PORT=80
DROP_PENDING_UPDATES=false
LOG_LEVEL=INFO
